@if (contentType === 'single') {
<!--  <app-single-movie-component-->
<!--    [isVideoPlaying]="isVideoPlaying"-->
<!--    [selectedVideoUrl]="selectedVideoUrl"-->
<!--    [subtitlesUrl]="subtitlesUrl"-->
<!--    [currentVideoInfo] = "currentVideoInfo"-->
<!--    [show]="show"-->
<!--    (playVideoClicked)="playVideo()"-->
<!--  ></app-single-movie-component>-->
}

@if (contentType === 'seasons') {
<!--  <app-seasons-component-->
<!--    [isVideoPlaying]="isVideoPlaying"-->
<!--    [currentVideoInfo]="currentVideoInfo"-->
<!--    [show]="show"-->
<!--    [selectedSeason]="selectedSeason"-->
<!--    [selectedVideoUrl]="selectedVideoUrl"-->
<!--    (playVideoClicked)="playVideo()"-->
<!--    (updateVideoData)="onUpdateVideoData($event)"-->
<!--  ></app-seasons-component>-->
}

@if (contentType === 'series') {
<!--  <app-series-component-->
<!--    [isVideoPlaying]="isVideoPlaying"-->
<!--    [selectedVideoUrl]="selectedVideoUrl"-->
<!--    [subtitlesUrl]="subtitlesUrl"-->
<!--    [currentVideoInfo] = "currentVideoInfo"-->
<!--    [show]="show"-->
<!--    (updateVideoData)="onUpdateVideoData($event)"-->
<!--    (playVideoClicked)="playVideo()"-->
<!--  ></app-series-component>-->
}

@if (contentType === 'seasons-and-movies') {
<!--  <app-seasons-and-movies-component-->
<!--    [currentVideoInfo] = "currentVideoInfo"-->
<!--    [isVideoPlaying]="isVideoPlaying"-->
<!--    [selectedSeason]="selectedSeason"-->
<!--    [selectedVideoUrl]="selectedVideoUrl"-->
<!--    [show]="show"-->
<!--    (updateVideoData)="onUpdateVideoData($event)"-->
<!--    (playVideoClicked)="playVideo()"-->
<!--  ></app-seasons-and-movies-component>-->
}
