@if (show) { @if (show.structure === StructureTypeEnum.SINGLE_MOVIE) {
<app-single-movie-component
  [isVideoPlaying]="isVideoPlaying"
  [selectedVideoUrl]="selectedVideoUrl"
  [subtitlesUrl]="subtitlesUrl"
  [selectedSubtitlesInput]="selectedSubtitles"
  [currentMediaItem]="currentMediaItem"
  [backdropImagePath]="selectedBackdropUrl"
  [show]="show"
  (playVideoClicked)="playVideo()"
  (updateMediaItem)="onUpdateVideoData($event)"
>
</app-single-movie-component>
} @if (show.structure === StructureTypeEnum.SEASONAL_SERIES) {
<app-seasons-component
  [isVideoPlaying]="isVideoPlaying"
  [currentMediaItem]="currentMediaItem"
  [subtitlesUrl]="subtitlesUrl"
  [selectedSubtitlesInput]="selectedSubtitles"
  [show]="show"
  [selectedSeason]="selectedSeason"
  [selectedVideoUrl]="selectedVideoUrl"
  [backdropImagePath]="selectedBackdropUrl"
  (playVideoClicked)="playVideo()"
  (updateMediaItem)="onUpdateVideoData($event)"
  (seekChange)="onSeekTimeSelected($event)"
  (selectedSubtitles)="onSubtitlesSelected($event)"
>
</app-seasons-component>
} @if (show.structure === StructureTypeEnum.MOVIE_COLLECTION) {
<app-series-component
  [isVideoPlaying]="isVideoPlaying"
  [selectedVideoUrl]="selectedVideoUrl"
  [subtitlesUrl]="subtitlesUrl"
  [selectedSubtitlesInput]="selectedSubtitles"
  [currentMediaItem]="currentMediaItem"
  [backdropImagePath]="selectedBackdropUrl"
  [show]="show"
  (updateVideoData)="onUpdateVideoData($event)"
  (playVideoClicked)="playVideo()"
  (selectedSubtitles)="onSubtitlesSelected($event)"
>
</app-series-component>
} @if (show.structure === StructureTypeEnum.HYBRID) {
<app-seasons-and-movies-component
  [currentMediaItem]="currentMediaItem"
  [isVideoPlaying]="isVideoPlaying"
  [selectedSeason]="selectedSeason"
  [selectedVideoUrl]="selectedVideoUrl"
  [backdropImagePath]="selectedBackdropUrl"
  [subtitlesUrl]="subtitlesUrl"
  [selectedSubtitlesInput]="selectedSubtitles"
  [show]="show"
  (updateMediaItem)="onUpdateVideoData($event)"
  (playVideoClicked)="playVideo()"
  (selectedSubtitles)="onSubtitlesSelected($event)"
>
</app-seasons-and-movies-component>
} }
