@use "../../../../src/styles/colors" as *;
@use "../../../../src/styles/mixins" as *;

.top-container {
  position: relative; /* potrzebne, by pozycjonować wewnętrzne elementy */
  overflow: hidden;
}

.preview-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;

  .preview-swiper {
    width: 100%;
    height: 100%;
  }

  .movie-details-overlay {
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: 10;
    color: white;
    max-width: 500px;
    padding: 1rem;

    /* Frosted glass effect */
    //background-color: rgba(20, 20, 20, 0.5); /* semi-transparent dark */
    //backdrop-filter: blur(10px); /* main blur */
    //-webkit-backdrop-filter: blur(10px); /* Safari support */
    //border-radius: 10px; /* rounded edges */
    //box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* depth */

    @include frosted-glass(10px);
  }

  .movie-details-overlay .movie-title {
    font-size: 2rem;
    font-weight: bold;
  }

  .movie-details-overlay .movie-description {
    margin-top: 10px;
    font-size: 1.1rem;
  }

  .movie-details-overlay .play-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: $netflix-red;
    border: none;
    border-radius: 4px;
    color: $normal-white;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  .movie-details-overlay .play-button:hover {
    background-color: $netflix-red-hover;
  }
}

.video-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 10;

  &:hover .movie-details-overlay {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .movie-details-overlay {
    position: absolute;
    top: 0;
    left: 0;
    color: $normal-white;
    width: 100%;
    padding: 2rem;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent);

    /* Animacja */
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.4s ease, opacity 0.4s ease;
    pointer-events: none;

    .movie-title {
      font-size: 2rem;
      font-weight: bold;
    }

    .movie-description {
      margin-top: 10px;
      font-size: 1.1rem;
    }

    .play-button {
      margin-top: 20px;
      padding: 10px 20px;
      font-size: 1rem;
      background-color: $netflix-red;
      border: none;
      border-radius: 4px;
      color: white;
      cursor: pointer;

      &:hover {
        background-color: $netflix-red-hover;
      }
    }
  }
}

.movie-details-container {
  //max-width: 800px;
  margin: auto;
  padding: 1rem;
  color: $normal-white;
  background: #141414;
}

.content-type-toggle {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;

  .tab-button {
    background-color: transparent;
    border: none;
    color: #aaa;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .tab-button:hover {
    color: $normal-white;
  }

  .tab-button.active {
    color: $normal-white;
    border-bottom: 2px solid $netflix-red; // czerwony akcent Netflixa
  }
}

.season-container {
  width: 200px;
}

.episode-container {
  width: 200px;
}

.movie-container {
  height: 200px;
}

.season-container,
.episode-container {
  margin-bottom: 1rem;

  select.form-select {
    background-color: #141414; // typowy ciemny tło Netflixa
    color: $normal-white;
    border: 1px solid $netflix-red; // czerwony Netflixowy
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border-radius: 4px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    width: 100%;
    cursor: pointer;
    transition: border-color 0.2s, box-shadow 0.2s;

    &:focus {
      outline: none;
      border-color: $netflix-red-hover;
      box-shadow: 0 0 0 3px rgba(229, 9, 20, 0.3);
    }

    option {
      background-color: #141414;
      color: $normal-white;
    }
  }
}

.back-button {
  background: none;
  color: $normal-white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

.movie-header {
  margin-bottom: 1rem;
}

.movie-title {
  font-size: 2rem;
  margin: 0;
}

.movie-type {
  font-size: 1rem;
  color: #aaaaaa;
}

.movie-description {
  margin: 1rem 0;
  font-size: 1.1rem;
}

.play-button {
  padding: 0.75rem 2rem;
  background-color: $netflix-red; /* Netflix red */
  color: $normal-white;
  border: none;
  border-radius: 4px;
  font-size: 1.1rem;
  cursor: pointer;
}

.play-button:hover {
  background-color: $netflix-red-hover;
}

.content-container {
  padding: 20px;
  background-color: #141414; /* Netflix dark */
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
  color: $normal-white;
  max-width: 1200px;
  margin: auto;
}

.genres {
  display: flex; /* układa w jednej linii */
  flex-wrap: wrap; /* zawijanie, jeśli za dużo tagów */
  gap: 8px; /* odstęp między tagami */
}

.genre-tag {
  background-color: #313131; /* Netflixowy czerwony, możesz zmienić */
  border: #252525 2px solid;
  color: white;
  padding: 4px 10px; /* w pionie i poziomie */
  border-radius: 4px; /* zaokrąglone końce */
  font-size: 0.9rem;
  font-weight: 500;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* lekki cień */
  cursor: default; /* opcjonalnie */
  transition: transform 0.2s; /* fajna animacja hover */
}

.title-row {
  display: flex;
  justify-content: flex-start; /* lub flex-start, jeśli chcesz blisko siebie */
  align-items: center;
}

.duration {
  border-radius: 4px;
  background: #727272;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: 5px;
  color: #c5c5c5; /* przykładowy styl */
  font-weight: normal;
}
