<div class="layout-container">
  @if (jwtService.isLoggedIn()) {
    <app-topbar-component (openSidebar)="handleOpenSidebar($event)"></app-topbar-component>
  }

  <main class="main-content" [@routeAnimations]="prepareRoute(o)">
    <router-outlet #o="outlet"></router-outlet>
  </main>

  <div class="sidebar" [class.open]="isSidebarOpen">
    <button class="close-btn" (click)="closeSidebar()">✖</button>
    <h2>Friends</h2>
    <div class="menu">
      @for  (friend of friendList; track friend.id) {
        <div class="friend-item">
          <i class="fa-solid fa-face-flushed friend-icon"
             [style.color]="friend.iconColor || '#ecb784'"></i>
          <div class="friend-info">
            <div class="friend-header">
              <span class="username">{{ friend.username }}</span>
              <span class="status" [ngClass]="friend.status?.online ? 'online' : 'offline'"></span>
            </div>
            @if (friend.status) {
              <div class="activity">
                {{ friend.status.watching ? ('Watching: ' + friend.status.watching) : 'Idle' }}
              </div>
            }
          </div>
        </div>
      }

    </div>
  </div>


</div>
