.video-player-container{
  width: 100%;
  min-height: 60vh;
}
.video-player{
  min-width: 100%;
  min-height: 100%;
}
.searchbar-container {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.searchbar-wrapper {
  position: relative; /* kluczowe dla absolute buttona */
  width: 100%;
  max-width: 600px;
}

.searchbar-input {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  border: 1px solid #444;
  border-radius: 999px;
  background-color: #1c1c1c;
  color: #fff;
  outline: none;
  transition: border 0.2s ease, box-shadow 0.2s ease;
}

.searchbar-input::placeholder {
  color: #aaa;
}

.searchbar-input:focus {
  border-color: #b9030c;
  box-shadow: 0 0 0 3px rgba(229, 9, 20, 0.4);
}

.clear-btn {
  position: absolute;
  width: 40px;       /* stała szerokość */
  height: 40px;      /* stała wysokość */
  right: 15px;
  top: 50%;
  border-radius: 50%; /* pełne koło */
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  color: #666;
  font-size: 18px;
  padding: 0;        /* usuń padding */
  display: flex;     /* żeby ikonka była wyśrodkowana */
  align-items: center;
  justify-content: center;
}

.clear-btn:hover {
  color: #e50914;
}

.video-type-select {
  margin-left: 10px;
  min-width: 100px;
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  border: 1px solid #444;
  border-radius: 999px;
  background-color: #1c1c1c;
  color: #fff;
  outline: none;
  appearance: none; /* usuwa natywną strzałkę w większości przeglądarek */
  transition: border 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

/* strzałka od selecta – opcjonalnie */
.video-type-select:focus {
  border-color: #b9030c;
  box-shadow: 0 0 0 3px rgba(229, 9, 20, 0.4);
}

/* Dla <option>, jeśli chcesz spójność kolorystyczną */
.video-type-select option {
  background-color: #1c1c1c;
  color: #fff;
}




