<div>

  <div class="searchbar-container">
    <div class="searchbar-wrapper">
      <input
        type="text"
        [(ngModel)]="filterTitleValue"
        (input)="onFilterChange()"
        placeholder="Wyszukaj tytuł..."
        class="searchbar-input"
      />
      <button (click)="onFilterClearClick()" class="clear-btn" aria-label="Clear filter">
        <i class="fa-solid fa-x" ></i>
      </button>
    </div>

    <div class="ng-select-container">
      <select
        [(ngModel)]="filterTypeValue"
        (change)="onFilterChange()"
        class="video-type-select"
      >
        @for (type of videoTypes; track type.label) {
          <option [ngValue]="type.value">
            {{ type.label }}
          </option>
        }
      </select>
    </div>
  </div>

  <div class="video-grid">
    @for (videoInfo of videoFileListFiltered; track videoInfo.id) {
      <app-video-card-component
        [title]="videoInfo.title"
        (cardClick)="moveToMovieDetails(videoInfo)"
        [iconFilePath]="videoInfo.rootPath + '/icon/' + videoInfo.iconFileName"
      ></app-video-card-component>
    }
  </div>

</div>
