@use '../../../styles/colors' as *;
@use '../../../styles/mixins' as *;



.main-box {
  width: 100vw;
  //height: 100vh;
}

.random-show-box {
  position: relative;
}

.content-box {
  height: 60vh;         /* 90% wysokości okna */
  width: 100vw;
  //overflow: hidden;
  //margin: 0;
}

.content-box img.content {
  object-fit: cover;    /* dopasowanie do kontenera */
  object-position: center;
}

@keyframes pulse {
  0%   { background-color: #111; }
  50%  { background-color: #222; }
  100% { background-color: #111; }
}


.carousel-container {
  z-index: 10;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.carousel {
  margin: 4rem 2rem 2rem;
  display: flex;
  gap: 1rem;
  overflow: hidden;
  scroll-behavior: smooth;
  padding: 0 2rem;

}

.item {
  flex: 0 0 auto;   /* zapobiega rozciąganiu */
  width: 180px;     /* szerokość jednego elementu */
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background: rgba(194, 194, 194, 0.5);
  color: $normal-white;
  border: none;
  font-size: 3rem;
  padding: 0.5rem;
  cursor: pointer;
}

.arrow.left {
  left: 0;
}

.arrow.right {
  right: 0;
}
.carousel.dragging {
  cursor: grabbing;
  user-select: none;
}
.carousel {
  cursor: grab;
}

.carousel-title {
  position: absolute;
  z-index: 10;
  top: -0.4rem;
  left: 1rem;
  font-size: 3rem;
  font-weight: bold;
  color: $normal-white;
  text-shadow:
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000; /* czarne kontury wokół tekstu */
}

.progress-bar-box{
  position: absolute;
  width: 240px;
  right: 1rem;
  top: 1rem;
  z-index: 10;
  padding: 20px 20px 20px 120px;

  /* Frosted glass effect */
  //background-color: rgba(20, 20, 20, 0.5); /* semi-transparent dark */
  //backdrop-filter: blur(10px); /* main blur */
  //-webkit-backdrop-filter: blur(10px); /* Safari support */
  //border-radius: 20px; /* rounded edges */
  //box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* depth */

  @include frosted-glass(10px);

}

//.netflix-button {
//
//  width: 48px;       // Fixed width
//  height: 48px;      // Fixed height (optional)
//  font-size: 24px;
//  text-align: center;
//
//  margin-left: 5px;
//  background: transparent;
//  border: none;
//  outline: none;
//  cursor: pointer;
//  padding: 8px;
//  border-radius: 50%;
//  color: $normal-white;
//
//
//  &:hover {
//    transform: scale(1.1);
//  }
//
//  &:active {
//    transform: scale(0.95);
//  }
//}

.progress-bar-next {
  position: absolute;
  right: 12rem;
  top: -0.3rem;
  z-index: 10;
}

.progress-bar-play{
  position: absolute;
  right: 10rem;
  top: -0.3rem;
  z-index: 10;
}

.carousel-progress-bar {
  position: absolute;
  width: 150px;       /* długość paska */
  height: 6px;        /* grubość paska */
  right: 1rem;
  top: 1rem;
  z-index: 10;
  border-radius: 3px;
  padding: 5px;
  background: #141414; /* ciemne tło jak w Netflix */
  overflow: hidden;
}

/* styl dla wypełnienia (czerwony pasek) */
::ng-deep .carousel-progress-bar .mat-progress-bar-fill::after {
  background-color: #e50914 !important; /* Netflix red */
  border-radius: 3px;
  height: 6px; /* dopasowanie do wysokości kontenera */
}


.movie-details-overlay {
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 10;
  color: $normal-white;
  max-width: 500px;
  padding: 1rem;

  /* Frosted glass effect */
  //background-color: rgba(20, 20, 20, 0.5); /* semi-transparent dark */
  //backdrop-filter: blur(10px); /* main blur */
  //-webkit-backdrop-filter: blur(10px); /* Safari support */
  //border-radius: 10px; /* rounded edges */
  //box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* depth */
  @include frosted-glass(10px);

}

.movie-details-overlay .movie-title {
  font-size: 2rem;
  font-weight: bold;
}

.movie-details-overlay .movie-description {
  margin-top: 10px;
  font-size: 1.1rem;
}

.movie-details-overlay .play-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  //background-color: #e50914;
  background-color: $netflix-red;
  border: none;
  border-radius: 4px;
  color: $normal-white;
  cursor: pointer;
  transition: background-color 0.2s ease;

}
.movie-details-overlay .play-button:hover {
  //background-color: #fc353f;
  background-color: $netflix-red-hover;
}

.title-row {
  display: flex;
  justify-content: flex-start; /* lub flex-start, jeśli chcesz blisko siebie */
  align-items: center;
}

.duration {
  border-radius: 4px;
  background: #727272;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: 5px;
  color: #c5c5c5; /* przykładowy styl */
  font-weight: normal;
}

.seasons-count {
  margin-left: 5px;
  font-size: 1.25rem;
  font-weight: normal;
  color: #aaa;
}



