:host {
  //display: flex;
  //flex-direction: column;
  //justify-content: center;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}


video {
  //margin: auto;
  display: block;
  max-width: 100%;
}

