<div class="top-container">

  @if (!isVideoPlaying) {
    <div class="preview-wrapper">
      <swiper-container
        loop="true"
        autoplay-delay="5000"
        class="preview-swiper"
      >

<!--        <swiper-slide>-->
<!--          <img priority [ngSrc]="getBackdropUrl()" fill alt="backdrop"-->
<!--               style="width: 100%; height: 100%; object-fit: cover;" />-->
<!--        </swiper-slide>-->

      </swiper-container>

      <div class="movie-details-overlay">
        <div class="movie-header">
<!--          <h1 class="movie-title">{{currentVideoInfo!.title}}</h1>-->

        </div>
        <p class="movie-description">
          To jest przykładowy opis filmu. Możesz go później podmienić na dane z backendu.
        </p>
        <button class="play-button" (click)="playVideoClicked.emit()">
          <i class="fa-solid fa-play"></i> Play
        </button>
      </div>
    </div>
  }

  @if (selectedVideoUrl.length > 0) {
    <div class="video-wrapper">
<!--    <app-video-player-component-->
<!--      [show]="show"-->
<!--      [currentVideoInfo]="currentVideoInfo"-->
<!--      [src]="selectedVideoUrl"-->
<!--      [subtitlesUrl]="subtitlesUrl"-->
<!--      (playVideoClicked)="playVideoClicked.emit()"-->
<!--      (updateVideoData)="updateVideoData.emit($event)"-->
<!--    ></app-video-player-component>-->
  </div>
  }
</div>



