<div class="top-container">
  @if (!isVideoPlaying) {
  <div class="preview-wrapper">
    <div class="image-wrapper">
      <div class="image-placeholder"></div>
      <img
        class="content"
        priority
        [ngSrc]="backdropImagePath"
        fill
        alt="backdrop"
        (load)="utilService.onImageLoad($event)"
      />
    </div>

    <div class="movie-details-overlay">
      <div class="movie-header">
        @if (currentMediaItem) {
        <div class="title-row">
          <h2 class="m-0">{{ currentMediaItem.title }}</h2>
          <h6 class="duration">
            {{ utilService.formatVideoDuration(currentMediaItem.duration) }}
          </h6>
        </div>
        }
      </div>

      <div class="genres">
        @for (genre of show?.genres; track genre.id) {
        <span class="genre-tag">{{ genre.name }}</span>
        }
      </div>

      <p class="movie-description">
        {{ show?.description }}
      </p>
      <button class="play-button" (click)="playVideoClicked.emit()">
        <i class="fa-solid fa-play"></i> Play
      </button>
    </div>
  </div>
  } @if (selectedVideoUrl.length > 0) {
  <div class="video-wrapper">
    <app-video-player-component
      [show]="show"
      [currentMediaItem]="currentMediaItem"
      [src]="selectedVideoUrl"
      [subtitlesUrl]="subtitlesUrl"
      [selectedSubtitlesInput]="selectedSubtitlesInput"
      (playVideoClicked)="playVideoClicked.emit()"
      (updateMediaItem)="updateMediaItem.emit($event)"
    ></app-video-player-component>
  </div>
  }
</div>
