<div class="top-container">

  @if (!isVideoPlaying) {
    <div class="preview-wrapper">


      <div class="image-wrapper">
        <div class="image-placeholder"></div>
        <img
          class="content"
          priority
          [ngSrc]="utilService.getBackdropUrl(currentMediaItem?.rootPath)"
          fill
          alt="backdrop"
          (load)="utilService.onImageLoad($event)"
        />
      </div>


      <div class="movie-details-overlay">
        <div class="movie-header">
          <h1 class="movie-title">{{currentMediaItem!.title}}</h1>

        </div>
        <p class="movie-description">
          To jest przykładowy opis filmu. Możesz go później podmienić na dane z backendu.
        </p>
        <button class="play-button" (click)="playVideoClicked.emit()">
          <i class="fa-solid fa-play"></i> Play
        </button>
      </div>
    </div>
  }

  @if (selectedVideoUrl.length > 0) {
    <div class="video-wrapper">
    <app-video-player-component
      [show]="show"
      [currentMediaItem]="currentMediaItem"
      [src]="selectedVideoUrl"
      [subtitlesUrl]="subtitlesUrl"
      (playVideoClicked)="playVideoClicked.emit()"
      (updateMediaItem)="updateMediaItem.emit($event)"
    ></app-video-player-component>
  </div>
  }
</div>



