:host {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

.main-container {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 6px;
  // background-color: rgb(94, 94, 94);
}

.form-row {
  display: flex;
  gap: 1rem; /* odstęp między kolumnami */
  flex-wrap: wrap; /* jeśli ekran jest wąski, przełamiemy wiersz */
}

.form-field {
  display: flex;
  flex-direction: column; /* label nad selectem */
  flex: 1 1 150px; /* elastyczna szerokość, min. 150px */
}

.show-filter-input {
  min-height: 50px;
  font-size: 12px;
}
