:host {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

.main-container {
  margin-left: 40px;
  margin-right: 40px;
}

.form-row {
  display: flex;
  gap: 1rem; /* odstęp między kolumnami */
  flex-wrap: wrap; /* jeśli ekran jest wąski, przełamiemy wiersz */
}

.form-field {
  display: flex;
  flex-direction: column; /* label nad selectem */
  flex: 1 1 150px; /* elastyczna szerokość, min. 150px */
}

.show-filter-input {
  min-height: 50px;
  font-size: 12px;
}
