.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(-45deg,
    //#0D1B2A,     /* głęboka noc */
    #1A1A2E,     /* granat */
    #2C2C54,     /* nocny fiolet */
    #4B0082,     /* indygo */
    #C71585,     /* ciemny róż / magenta */
    #FF6347,     /* zachód słońca */
    #C71585,     /* ciemny róż / magenta */
    #4B0082,     /* indygo */
    #2C2C54,     /* nocny fiolet */
    #1A1A2E,     /* granat */
    //#0D1B2A      /* głęboka noc */
  );


  background-size: 400% 400%;
  //ToDO to jest dobre
  //animation: gradientMove 45s ease-in-out infinite;
  animation: gradientMove 45s ease-in-out infinite;
  color: #fff;
}



//@keyframes gradientChaos {
//  0% {
//    background-position: 0% 50%;
//  }
//  15% {
//    background-position: 80% 20%;
//  }
//  30% {
//    background-position: 20% 80%;
//  }
//  45% {
//    background-position: 100% 50%;
//  }
//  60% {
//    background-position: 50% 0%;
//  }
//  75% {
//    background-position: 30% 70%;
//  }
//  90% {
//    background-position: 70% 30%;
//  }
//  100% {
//    background-position: 0% 50%;
//  }
//}




//ToDO to jest dobre
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.login-container::before {
  content: '';
  position: absolute;
  inset: 0;
  background: inherit;
  filter: blur(20px);
  z-index: -1;
}



.login-box {
  background-color: rgba(37, 37, 37, 0.42);
  max-width: 400px;
  width: 100%;
}

h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2.5rem;
  color: #e50914; // Netflix red
  letter-spacing: 2px;
}

.register-link {
  color: #e1e1e1;
  font-size: 0.9rem;
}

.register-link:hover {
    cursor: pointer;
    color: #3a98c0;

}
