<div class="login-container d-flex align-items-center justify-content-center">
  <div class="login-box shadow-lg rounded p-4">
    <h1 class="text-center mb-4">Zymflix</h1>


    <form (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="w-100 mb-3">
        <mat-label>
          <i class="fa-solid fa-user"></i> Username
        </mat-label>
        <input [(ngModel)]="username" name="username" matInput type="text" placeholder="Enter username" autocomplete="off">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100 mb-3">
        <mat-label>
          <i class="fa-solid fa-key me-2"></i> Password
        </mat-label>
        <input [(ngModel)]="password" name="password" matInput [type]="hide() ? 'password' : 'text'" placeholder="Enter password" autocomplete="off">
        <button mat-icon-button matSuffix (click)="togglePassword($event)">
          <i class="fa-solid" [ngClass]="hide() ? 'fa-eye-slash' : 'fa-eye'"></i>
        </button>
      </mat-form-field>

      @if (!isLogin) {
        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>
            <i class="fa-solid fa-key"></i> Repeat Password
          </mat-label>
          <input [(ngModel)]="repeatPassword" name="repeatPassword" matInput type="password" placeholder="Repeat password" autocomplete="off">
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
      }


      <button
        type="submit"
        (mouseenter)="isOverlayVisible = true"
        [disabled]="isLogin ? !validateLoginValues() : !areRegisterValuesFilled()"
        mat-raised-button
        color="warn"
        [ngClass]="{ 'loading-button': isLoading }"
        class="w-100 mb-3">
        <i class="fa fa-sign-in-alt me-2"></i> {{ isLogin ? 'Login' : 'Register' }}
      </button>
    </form>

    <div class="text-center">
      @if (isLogin) {
        <a (click)="isLogin = !isLogin; clearForm()" class="register-link">
          <span>Don't have an account? Register here</span>
        </a>
      } @else {
        <a (click)="isLogin = !isLogin; clearForm()" class="register-link">
          <span>Already have account? Login here</span>
        </a>
      }
    </div>
  </div>
</div>
