@use 'styles/colors' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$body-bg: #141414;
$body-color: #fff;

html, body {
  overflow-y: auto;              /* lub scroll, jeśli chcesz zawsze */
  font-family: 'Bebas Neue', sans-serif;
  background-color: $body-bg;

}

body::-webkit-scrollbar {
  display: none;                 /* Chrome, Safari, Edge */
}



.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.video-card:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}


//SUBTITLES



.vjs-text-track-cue > div {
  font-family: 'Roboto', Arial, sans-serif !important;
  background-color: transparent !important;
  color: white !important;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}




//.video-player-container {
//  .video-js {
//    .vjs-text-track-cue {
//      font-family: 'Arial Black', sans-serif !important;
//      font-size: 18px !important;
//      color: yellow !important;
//      text-shadow: 2px 2px 4px black !important;
//      //background: rgba(0, 0, 0, 0.5) !important;
//      padding: 0 5px !important;
//      border-radius: 3px !important;
//    }
//  }
//}


