@use 'styles/colors' as *;
@use './app/pages/movie-detail-page/movie-detail-page' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
  overflow-y: auto; /* lub scroll, jeśli chcesz zawsze */
  font-family: 'Bebas Neue', sans-serif;
  background-color: $body-bg;
}

body.scrolling * {
  pointer-events: none !important;
}

body.scrolling {
  cursor: default !important;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  //ToDO do implementacji na pozniej
  // scroll-behavior: smooth; /* makes horizontal scroll smooth */
}

.video-card:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

//SUBTITLES
.vjs-text-track-cue > div {
  font-family: 'Roboto', Arial, sans-serif !important;
  background-color: transparent !important;
  color: white !important;

  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}
//--

//Loading na button

.loading-button {
  position: relative;
  pointer-events: none;
  opacity: 0.6;
}

/* Nakładka */
.loading-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* ciemna nakładka */
  border-radius: 4px;
  z-index: 1;
}

/* Spinner */
.loading-button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  margin: -16px 0 0 -16px;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #e50914; /* Netflixowy czerwony */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  z-index: 2;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
//--

/* Rozmyte tło Netflix-style */
.image-placeholder {
  position: absolute;
  inset: 0;
  background: #111; /* ciemne tło jako baza */
  filter: blur(20px);
  transform: scale(1.1); /* trochę powiększamy, żeby blur nie odsłaniał krawędzi */
  animation: pulse 1.5s infinite; /* opcjonalne migotanie */
}

.content {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0; /* startowo ukryty */
  transition: opacity 0.8s; /* płynne pojawienie */
  position: relative; /* nad placeholderem */
  z-index: 1;
}

.content.loaded {
  opacity: 1;
}
