<div class="top-container">
  @if (!isVideoPlaying) {
    <div class="preview-wrapper">
      <swiper-container
        loop="true"
        autoplay-delay="5000"
        class="preview-swiper"
      >
        <swiper-slide>
          <img priority [ngSrc]="utilService.getBackdropUrl(currentMediaItem?.rootPath)" fill alt="backdrop"
               style="width: 100%; height: 100%; object-fit: cover;" />
        </swiper-slide>
      </swiper-container>

        <div class="movie-details-overlay">
          <div class="movie-header">
            <h1 class="movie-title">{{show!.name}}</h1>
            @if (currentMediaItem) {
              <h5>{{currentMediaItem.title}}</h5>
            }
          </div>
          <p class="movie-description">
            To jest przykładowy opis filmu. Możesz go później podmienić na dane z backendu.
          </p>
          @if (currentMediaItem) {
            <button class="play-button" (click)="playVideoClicked.emit()">
              <i class="fa-solid fa-play"></i> Play
            </button>
          }

        </div>
    </div>
  }

  @if (selectedVideoUrl.length > 0) {
    <div class="video-wrapper">
      <app-video-player-component
        [show]="show"
        [currentMediaItem]="currentMediaItem"
        [src]="selectedVideoUrl"
        [subtitlesUrl]="subtitlesUrl"
        (playVideoClicked)="playVideoClicked.emit()"
        (updateMediaItem)="updateVideoData.emit($event)"
      ></app-video-player-component>
    </div>
  }


</div>

@if (show) {
  <div class="movie-details-container">
      <div class="content-container">
        <div class="content-type-toggle">
            <button
              class="tab-button"
              [class.active]="'movies'">
              Movies
            </button>

        </div>
          <div class="video-grid">
            @for (movie of show.movies; track movie.id) {
              <app-video-card-component
                [title]="movie.mediaItem!.title"
                (cardClick)="watchMovie(movie.mediaItem!)"
                [iconFilePath]=utilService.getIconUrl(movie.mediaItem.rootPath)
              ></app-video-card-component>
            }
          </div>
      </div>
  </div>
}
