<div class="top-container">
  @if (!isVideoPlaying) {
  <div class="preview-wrapper">
    <div class="image-wrapper">
      <div class="image-placeholder"></div>
      <img
        class="content"
        priority
        [src]="backdropImagePath"
        fill
        alt="backdrop"
        (load)="utilService.onImageLoad($event)"
      />
    </div>

    <div class="movie-details-overlay">
      <div class="movie-header">
        <h1 class="movie-title">{{ show!.name }}</h1>
        @if (currentMediaItem) {
        <h5>{{ currentMediaItem.title }}</h5>
        }
      </div>
      <p class="movie-description">
        {{ show?.description }}
      </p>
      @if (currentMediaItem) {
      <button class="play-button" (click)="playVideoClicked.emit()">
        <i class="fa-solid fa-play"></i> Play
      </button>
      }
    </div>
  </div>
  } @if (selectedVideoUrl.length > 0) {
  <div class="video-wrapper">
    <app-video-player-component
      [show]="show"
      [currentMediaItem]="currentMediaItem"
      [src]="selectedVideoUrl"
      [subtitlesUrl]="subtitlesUrl"
      [selectedSubtitlesInput]="selectedSubtitlesInput"
      (playVideoClicked)="playVideoClicked.emit()"
      (updateMediaItem)="updateVideoData.emit($event)"
      (selectedSubtitles)="onSelectedSubtitles($event)"
    ></app-video-player-component>
  </div>
  }
</div>

@if (show) {
<div class="movie-details-container">
  <div class="content-container">
    <div class="content-type-toggle">
      <button class="tab-button" [class.active]="'movies'">Movies</button>
    </div>
    <div class="video-grid">
      @for (movie of show.movies; track movie.id) {
      <app-video-card-component
        [title]="movie!.title"
        (cardClick)="watchMovie(movie!)"
        [showRootPath]="movie.rootPath"
      ></app-video-card-component>
      }
    </div>
  </div>
</div>
}
