.video-player-container:fullscreen .custom-control-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 200;
}

.vjs-default-skin {
  position: static !important;
}

.video-player-container {
  user-select: none; /* standard */
  -webkit-user-select: none; /* Safari/Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */

  //position: relative; // <-- this is critical for overlays
  z-index: 0;

  .custom-control-bar {
    position: absolute;
    width: 100%;

    bottom: 5px;
    left: 0;
    right: 0;
    // color: white;
    pointer-events: none;
    opacity: 0;
    transform: translateY(100%); // na starcie schowana poza ekranem
    z-index: 200;
    transition: opacity 0.3s ease, transform 0.3s ease; // animacje

    &.visible {
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0); // wjeżdża na dół ekranu
    }
  }

  .timeline-box {
    position: absolute;
    width: 100%;
    // bottom: 33px;
    bottom: 50px;
    left: 0;
    right: 0;
    z-index: 1000;
    opacity: 0;
    transform: translateY(100%); // na starcie schowana poza ekranem
    transition: opacity 0.3s ease, transform 0.3s ease; // animacje

    &.visible {
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0); // wjeżdża na dół ekranu
    }
  }

  .left-controls,
  .right-controls {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 5px;
    margin-right: 5px;

    flex: 0 0 auto; /* keep size to content */
  }

  ///* Center controls container takes full width but centers content */
  .center-controls {
    padding: 0;
    margin: 0;
  }

  .ui-element-container {
    background-color: #0000005b;
    padding: 4px;
    border-radius: 16px;
  }

  .netflix-button {
    width: clamp(32px, 4vw, 60px);
    height: clamp(28px, 3vw, 44px);
    font-size: clamp(14px, 1.2vw, 20px);
    text-align: center;
    padding: 0;

    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px;
    border-radius: 16px;
    color: white;
    background: transparent;

    &:hover {
      background-color: #c9c9c93d;
    }
  }

  .overlay-message {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 18px;
    pointer-events: none;
    z-index: 200;
    opacity: 1;
    transition: opacity 0.5s ease-out;
  }

  .movie-details-overlay {
    user-select: none; /* standard */
    -webkit-user-select: none; /* Safari/Chrome */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */

    position: absolute;
    top: 0;
    left: 0;
    color: white;
    width: 100%;
    padding: 2rem;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent);

    /* Animacja */
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.4s ease, opacity 0.4s ease;
    pointer-events: none;

    .movie-title {
      font-size: 2rem;
      font-weight: bold;
    }

    .movie-description {
      margin-top: 10px;
      font-size: 1.1rem;
    }

    .play-button {
      margin-top: 20px;
      padding: 10px 20px;
      font-size: 1rem;
      background-color: #e50914;
      border: none;
      border-radius: 4px;
      color: white;
      cursor: pointer;

      &:hover {
        background-color: #fc353f;
      }
    }

    &.visible {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }

    .video-ui-element {
      background-color: #e50914;
    }
  }

  .ui-volume-changer {
    border-radius: 16px;
    padding: 8px;

    .volume-slider {
      --mdc-slider-track-height: 2px; /* grubość paska */
      --mdc-slider-handle-width: 14px; /* wielkość kółka */
      --mdc-slider-handle-height: 14px;
      --mdc-slider-active-track-height: 2px;
      --mdc-slider-track-inactive-opacity: 0.3;
      height: 24px; /* całkowita wysokość slidera */
    }

    &:hover {
      background-color: #c9c9c93d;
    }
  }

  .time-counter {
    height: clamp(28px, 3vw, 44px);
    font-size: clamp(14px, 1.2vw, 20px);
    padding: 0 6px;
    border-radius: 16px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: auto;
    white-space: nowrap; /* ← najważniejsze */

    &:hover {
      background-color: #c9c9c93d;
    }
  }

  .autoplay-ui-element {
    display: inline;
    padding: 8px;
    border-radius: 16px;
    &:hover {
      background-color: #c9c9c93d;
    }
  }
}

.next-episode-notice {
  position: absolute;
  bottom: 100px;
  right: 100px;

  padding: 10px;

  /* Frosted glass effect */
  background-color: rgba(20, 20, 20, 0.5); /* semi-transparent dark */
  backdrop-filter: blur(10px); /* main blur */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  border-radius: 10px; /* rounded edges */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* depth */
}

.notice-content {
  display: flex;
  align-items: center;
  gap: 8px; /* odstęp między tekstem a przyciskiem */
}

.hide-cursor {
  cursor: none !important;
}
